/* my style */
body {
    padding-top: 30px;
}

.glyphicon {
    font-size: 1.2em;
}

#upload-menu-button {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    z-index: 999;
}

@media (min-width: 768px)
{
    .row-relative { position: relative; }

    .col-border-padding { padding-left: 15px; }
    .col-border
    {
        padding-left: 0;
        position: static;
    }

    .col-border:before
    {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        border-left: 1px solid red;
    }
}
