doctype html
html(lang="ja")
  head
    title= "ppt-museum"
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(name="description", content="powerpoint uploader")
    meta(name="author", content="kaakaa")

    link(href="/ppt-museum/css/style.css", rel="stylesheet")
    // bower:css
    link(rel='stylesheet', href='/ppt-museum/bootswatch-dist/css/bootstrap.min.css')
    // endbower
  body
    nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      .container
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") PPT-MUSEUM
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav
            li
              a(href="#", data-toggle="modal", data-target="#upload-modal")
                span.glyphicon.glyphicon-upload  UploadSlide
        .github-ribbon
          include github_ribbon
    // upload button
    #upload-menu-button.full-circle
      button#upload-menu.btn.btn-primary(type="button", data-toggle="modal", data-target="#upload-modal")
        span.glyphicon.glyphicon-upload  Upload

    .container
      block content

    .container
      footer
        block footer

    // upload form contents
    .modal.fade#upload-modal(tabindex="-1", role="dialog", aria-labelledby="slideUploadModal")
      .modal-dialog(role="document")
        .modal-content
          include upload_form


    // bower:js
    script(src='/ppt-museum/jquery/dist/jquery.min.js')
    script(src='/ppt-museum/bootstrap-validator/dist/validator.min.js')
    script(src='/ppt-museum/bootstrap/dist/js/bootstrap.js')
    script(src='/ppt-museum/bootstrap-confirmation2/bootstrap-confirmation.js')
    // endbower
    :js
      (function ($) {
        $(document).ready(function() {
          // navbar settings
          $(".navbar").show();
          $("#upload-menu-button").hide();

          $(function() {
            $(window).scroll(function() {
              if ($(this).scrollTop() > 300) {
                $('.navbar').fadeOut();
                $('#upload-menu-button').fadeIn();
              } else {
                $('.navbar').fadeIn();
                $('#upload-menu-button').fadeOut();
              }
            });
          });
        });
      }(jQuery));

      $('#upload-modal')
        .on('shown.bs.modal', function(e){
          $('.upload-form').validator();
          $('#upload-progress').hide();
        })
        .on('hidden.bs.modal', function(e) {
          $('.upload-form').validator('destroy');
        });

      // Validate Upload Form
      $("button[id='upload-button']").on('click', function() {
        $(".upload-form").validator('validate').on('submit', function(e) {
          $('#upload-progress').show();
        });
      });

      // Delete Slide
      $("button[id^='remove-slide-']").on('click', function() {
        $(this).confirmation('show');
      });

      $("button[id^='remove-slide-']").on('confirmed.bs.confirmation', function() {
        var id = $(this).data('id');
        $.ajax({
          type: 'DELETE',
          url: '/ppt-museum/slide/delete/' + id,
          success: function(data) {
            location.reload();
          },
          error: function(err) {
            alert("error" + JSON.stringify(err));
          }
        });
      });
